    .container
        .content= question.organization
        .content= question.parts
        .content= question.applicant
        .content= question.deadline
        .content= question.manager
        .content= question.contact

